/* news cards */
.news {
    margin-top: 70px;
}
/* cards */
.row {
    column-gap: 15px;
    margin-bottom: 50px;
}
.card {
    width: 50%;
    cursor: pointer;
}
.card-w {
    width: 100%;
}
/* image card */
.card-img {
    width: 100%;
    height: 20vh;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
}
/* card body */
.card-body {
    padding: 0 4px;
    font-size: 13.5pt;
    margin: 4px 0 6px 0;
}
/* card footer */
.card-footer {
    padding: 0 4px;
}
/* card category */
.card-footer-category {
    font-size: 9.5pt;
}
/* card date */
.card-footer-date {
    font-size: 8.5pt;
    font-style: italic;
}