/* cards */
.news {
    margin-top: 80px;
}

.row {
    column-gap: 15px;
    margin-bottom: 40px;
}

.card {
    width: 50%;
    cursor: pointer;
}
.card-w {
    width: 100%;
}

.card-img {
    border-radius: 8px;
    width: 100%; height: 200px;
    border: 1px solid var(--white);
    margin-bottom: 4px;
    transition: border-radius .3s ease-out;
}
.card:hover .card-img {
    border-radius: 0;
}

.card-body {
    padding: 0 4px;
    margin-bottom: 5px;
}
.card-title {
    font-size: 14pt;
    color: var(--dark);
}
.card-footer {
    padding: 0 6px;
    color: var(--dark);
    font-style: italic;
}
.card-label {
    font-size: 9.5pt;
}
.card-time {
    font-size: 8.5pt;
}