/* =================== MAIN CONTENT =================== */
main {
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* labels */
.labels {
    justify-content: center;
    column-gap: 8px;
}
.labels-items li {
    display: inline-block;
}
.labels-items button {
    font-size: 13.5pt;
    background: var(--dark);
    color: whitesmoke;
    letter-spacing: 1px;
    transition: background .3s ease-out;
}
.labels-items button:hover,
.labels-items button:focus,
.labels-items li.active > button {
    background: var(--dark2);
    outline: none;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    align-self: center;
}
.dropdown-btn {
    rotate: 90deg;
    padding: 0 7px 8px 7px;
    border-radius: 50%;
    background: var(--dark);
    color: whitesmoke;
    font-size: 13.5pt;
}
.dropdown-btn:hover,
.dropdown-btn:focus {
    background: var(--dark2);
    outline: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: whitesmoke;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .4);
    border-radius: 4px;
    z-index: 1;
}
.dropdown-content li {
    display: block;
    padding: 8px 20px 8px 6px;
    cursor: pointer;
    color: var(--dark2);
}
.dropdown-content li:hover {
    background: var(--white);
}
/* first item */
.drop-f {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/* last item */
.drop-l {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}