main {
    width: 75vw;
    margin: 80px auto 0 auto;
    align-items: center;
}

/*--------------- SECTION ---------------*/
.news-content {
    width: 70%;
}

.headline {
    color: var(--dark2);
    margin-bottom: 15px;
}

.news-title {
    font-size: 22pt;
    margin-bottom: 4px;
}

.news-subtitle {
    font-size: 14pt;
    font-weight: normal;
    width: 90%;
}

/* signature */
.news-signature {
    color: var(--dark);
}

.sig-name {
    margin-bottom: 6px;
}

/* title */
.aside-title {
    text-align: center;
}

/* figure */
.news-fig {
    width: 80%;
    color: var(--dark);
    font-style: italic;
    margin: 15px 0 25px 0;
}

.news-fig img {
    width: 100%; height: 500px;
    border: 1px solid var(--white);
    border-radius: 8px;
}

/* text */
.news-text {
    width: 90%;
    color: var(--dark2);
}

.news-text p {
    font-size: 13.5pt;
    line-height: 22pt;
}

.news-text h2 {
    font-size: 18pt;
    margin: 15px 0 4px 0;
}

/* --------------- ASIDE --------------- */
.aside-content {
    width: 30%;
}

.aside-news {
    margin-top: 30px;
}

.aside-title {
    font-size: 18pt;
}
/* cards */
.card {
    width: 100%;
    margin-bottom: 40px;
}

.card-img {
    height: 230px;
}