main {
    width: 75vw;
    margin: 80px auto 0 auto;
    align-items: center;
}

/*--------------- SECTION ---------------*/
.news-content {
    width: 70%;
}

.headline {
    color: var(--dark2);
    margin-bottom: 15px;
}

.news-title {
    font-size: 22pt;
    margin-bottom: 4px;
}

.news-subtitle {
    font-size: 14pt;
    font-weight: normal;
    width: 90%;
}

/* signature */
.news-signature {
    color: var(--dark);
}

.sig-name {
    margin-bottom: 6px;
}

/* title */
.aside-title {
    text-align: center;
}

/* figure */
.news-fig {
    width: 80%;
    color: var(--dark);
    font-style: italic;
    margin: 15px 0 25px 0;
}

.news-fig img {
    width: 100%; height: 500px;
    border: 1px solid var(--white);
    border-radius: 8px;
}

.news-fig figcaption {
    color: grey;
}

/* text */
.news-text {
    width: 90%;
    color: var(--dark2);
}

.news-text p {
    font-size: 13.5pt;
    line-height: 22pt;
}

.news-text h2 {
    font-size: 18pt;
    margin-bottom: 4px;
}

.news-article {
    margin-top: 20px;
}

/* --------------- COMMENT SECTION --------------- */
/* title */
.comment-title {
    justify-content: start;
    align-items: center;
    margin-top: 35px;
    color: var(--dark2);
}
/* comment section icon */
.fa-comment {
    margin-right: 8px;
    font-size: 18pt;
}
.comment-title-text {
    font-size: 18.5pt;
}

.comment {
    justify-content: start;
    align-items: flex-start;
    margin-top: 15px;
}
/* comment section - user icon */
.fa-user {
    font-size: 16pt;
    margin-right: 8px;
    color: whitesmoke;
    background: var(--dark);
    padding: 8px 9px;
    border-radius: 50%;
}
/* comment text */
.comment-usr textarea {
    display: block;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 5px 5px 0 5px;
    font-size: 13pt;
    font-family: arial, sans-serif;
    height: 80px; width: 500px;
}
.comment-usr textarea:focus {
    outline: none;
}
.comment-usr textarea::placeholder {
    font-style: italic;
    color: rgb(172, 172, 172);
}
/* comment buttons */
.comment-usr button {
    background: var(--dark);
    color: whitesmoke;
}
.comment-usr button:hover {
    background: var(--dark2);
}

/* --------------- ASIDE --------------- */
.aside-content {
    width: 30%;
}

.aside-news {
    margin-top: 30px;
}

.aside-title {
    font-size: 18pt;
}
/* cards */
.card {
    width: 100%;
    margin-bottom: 40px;
}

.card-img {
    height: 230px;
}