:root {
    --grey: rgb(66, 66, 66);
    --grey2: rgb(218, 218, 218);
    --black: rgb(58, 58, 58);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-family: arial, sans-serif;
}

/* all links */
a {
    text-decoration: none;
}

/* ====================== HEADER ====================== */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 8vw;
    background: var(--grey);
}
/* logo */
.logo a {
    color: whitesmoke;
    font-size: 22pt;
}

/* navigation bar */
.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 13pt;
}
.navbar-header li {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
.navbar-header a {
    color: whitesmoke;
}
.navbar-header li:hover > a,
.navbar-header li.active > a {
    color: var(--grey2);
}

/* login button */
.login-btn {
    margin-left: 40px;
    font-size: 13pt;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    background: whitesmoke;
    transition: background .3s ease-out;
    color: var(--grey);
}
.login-btn:hover {
    background: rgb(226, 226, 226);
}

/* ====================== MAIN CONTENT ====================== */
main {
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* categories */
.categories {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.categories li {
    display: inline-block;
}
.categories button {
    font-size: 13pt;
    padding: 6px 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background: var(--grey);
    color: whitesmoke;
    cursor: pointer;
    transition: background .3s ease-out;
    letter-spacing: 1px;
}
.categories button:hover,
.categories li.active > button {
    background: var(--black);
}