:root {
    --dark: rgb(59, 59, 59);
    --dark2: rgb(46, 46, 46);
    --white: rgb(204, 204, 204);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-family: arial, sans-serif;
}

/* all links */
a {
    text-decoration: none;
}

/* =================== HEADER =================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: var(--dark);
    padding: 15px 10vw;
}

/* site logo */
.logo a {
    color: whitesmoke;
}
.logo a:focus {
    outline: none;
}

/* navigation bar on header */
.navbar-header li {
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    font-size: 12pt;
}
.navbar-header a {
    color: whitesmoke;
}
.navbar-header a:hover,
.navbar-header a:focus,
.navbar-header li.active > a {
    color: var(--white);
    outline: none;
}

/* =================== MAIN CONTENT =================== */
main {
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* labels */
.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    margin: 0 auto;
}
.labels-items li {
    display: inline-block;
}
.labels-items button {
    font-size: 13.5pt;
    padding: 6px 10px;
    background: var(--dark);
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background .3s ease-out;
}
.labels-items button:hover,
.labels-items button:focus,
.labels-items li.active > button {
    background: var(--dark2);
    outline: none;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    rotate: 90deg;
    padding: 0 7px 8px 7px;
    border: none;
    border-radius: 50%;
    background: var(--dark);
    cursor: pointer;
    color: whitesmoke;
    font-size: 13.5pt;
    font-weight: bold;
    transition: background .3s ease-out;
}
.dropdown-btn:hover,
.dropdown-btn:focus {
    background: var(--dark2);
    outline: none;
}
.dropdown-content {
    display: block;
    position: absolute;
    background: whitesmoke;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .4);
    border-radius: 4px;
}
.dropdown-content li {
    display: block;
    padding: 8px 20px 8px 6px;
    cursor: pointer;
    color: var(--dark2);
}
.dropdown-content li:hover {
    background: var(--white);
}
.drop-f {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.drop-l {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}