:root {
    --dark: rgb(59, 59, 59);
    --dark2: rgb(46, 46, 46);
    --white: rgb(204, 204, 204);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-family: arial, sans-serif;
}

/* all links */
a {
    text-decoration: none;
}

/* =================== HEADER =================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: var(--dark);
    padding: 15px 10vw;
}

/* site logo */
.logo a {
    color: whitesmoke;
}
.logo a:focus {
    outline: none;
}

/* navigation bar on header */
.navbar-header li {
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    font-size: 12pt;
}
.navbar-header a {
    color: whitesmoke;
}
.navbar-header a:hover,
.navbar-header a:focus,
.navbar-header li.active > a {
    color: var(--white);
    outline: none;
}

/* =================== MAIN CONTENT =================== */
main {
    width: 75vw;
    margin: 75px auto 0 auto;
}

/* labels */
.labels ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 8px;
}

.labels li {
    display: inline-block;
}

.labels button {
    font-size: 13.5pt;
    padding: 6px 10px;
    background: var(--dark);
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background .3s ease-out;
}
.labels button:hover,
.labels button:focus,
.labels li.active > button {
    background: var(--dark2);
    outline: none;
}

/* cards */
.news {
    margin-top: 80px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 15px;
    margin-bottom: 40px;
}
.card {
    width: 50%;
    cursor: pointer;
}
.card-w {
    width: 100%;
}
.card-img {
    border-radius: 8px;
    width: 100%; height: 200px;
    border: 1px solid var(--white);
    margin-bottom: 4px;
}
.card-body {
    padding: 0 4px;
    margin-bottom: 5px;
}
.card-title {
    font-size: 14pt;
    color: var(--dark);
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 6px;
    color: var(--dark);
    font-style: italic;
}
.card-label {
    font-size: 9.5pt;
}
.card-time {
    font-size: 8.5pt;
}