:root {
    --brown: #482C21;
    --black: rgb(41, 41, 41);
    --red: #A73E2B;
    --redHover: #943524;
    --orange: #D07E0E;
    --orangeHolver: #BD730D;
    --yellow: #E9DEB0;
    --green: #2F615E;
    --greenHolver: #275754;
    --btnGreen: rgb(24, 155, 24);
    --btnGreenHolver: rgb(22, 138, 22);
}

* {
    margin: 0;
    padding: 0;
}

/* all links */
a {
    text-decoration: none;
}

/* all buttons */
.wn-button {
    font-size: 13.5pt;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
/* display flex */
.wn-d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

body {
    background: whitesmoke;
    font-family: arial, sans-serif;
    color: var(--black);
}

/* ================= HEADER ================= */
.menu-header {
    padding: 25px 10vw;
    background: var(--brown);
}
/* logo */
.logo a {
    color: whitesmoke;
    font-size: 24pt;
}
/* navigation bar options */
.navbar-header li {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13pt;
}

.navbar-header a {
    color: whitesmoke;
}
.navbar-header a:hover,
.navbar-header a:focus,
.navbar-header li.active > a {
    color: rgb(223, 223, 223);
    outline: none;
}

/* login button */
#loginBtn {
    margin-left: 30px;
    font-size: 13pt;
    background: var(--red);
}
#loginBtn:hover {
    background: var(--redHover);
}

/* ================= LOGIN SCREEN ================= */
/* background */
.background-modal {
    position: fixed;
    display: none;
    z-index: 1;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.4);
}

/* login screen */
#loginScreen {
    position: relative;
    background: whitesmoke;
    width: 20vw;
    border-radius: 8px;
    margin: 150px auto 0 auto;
    box-shadow: 0 6px 10px 8px rgba(0, 0, 0, 0.26);
    animation-name: loginAnim;
    animation-duration: .4s;
}
@keyframes loginAnim {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* login header */
.login-header {
    background: var(--brown);
    color: whitesmoke;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-header-title {
    text-align: center;
    padding: 8px 0;
    font-size: 24pt;
}

/* close button */
.close {
    float: right;
    font-size: 18pt;
    background: rgba(182, 17, 17, 0.74);
    padding: 0 6px;
    margin: 6px 6px 0 0;
    cursor: pointer;
    border-radius: 4px;
}
.close:hover {
    background: rgb(182, 17, 17);
}

/* login body */
.login-body {
    padding: 0 60px;
    margin-top: 20px;
}

.usr-data {
    margin-bottom: 20px;
}

.usr-data label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.usr-data input {
    width: 100%;
    font-size: 13pt;
    padding: 3px 0;
    text-indent: 6px;
    border-radius: 4px;
    border: 1px solid rgb(184, 184, 184);
}
.usr-data input:focus {
    outline: none;
}

.login-links {
    padding-bottom: 15px;
}

/* create account */
.login-links a {
    color: rgb(34, 141, 241);
}
.login-links a:hover {
    text-decoration: underline;
}

/* sign in */
.login-links button {
    background: var(--btnGreen);
    font-size: 13pt;
}
.login-links button:hover {
    background: var(--btnGreenHolver);
}

/* ================= MAIN CONTENT (index) ================= */
#mainContent {
    margin: 80px auto 0 auto;
    width: 75vw;
}

/* categories buttons */
.categories {
    width: 42vw;
    margin: 0 auto;
    align-items: normal;
}

.categories-items li {
    display: inline-block;
    margin-right: 10px;
}

.categories-items button {
    background: var(--red);
    letter-spacing: 1px;
}
.categories-items button:hover,
.categories-items button:focus,
.categories-items li.active > button {
    background: var(--redHover);
    outline: none;
}

/* categories - dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
#dropdownBtn {
    rotate: 90deg;
    font-size: 14pt;
    padding: 0 7px 9px 7px;
    border-radius: 50%;
    background: var(--red);
}
#dropdownBtn:hover,
#dropdownBtn:focus {
    background: var(--redHover);
}

#dropdownCont {
    position: absolute;
    z-index: 1;
    display: none;
    background: whitesmoke;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.219);
    color: rgb(26, 26, 26);
}

#dropdownCont li {
    display: block;
    padding: 10px 20px 10px 8px;
    cursor: pointer;
}
#dropdownCont li:hover,
#dropdownCont li:focus {
    background: rgb(230, 230, 230);
    outline: none;
}
/* categories - dropdown - first item */
#dropdownCont .wn-f-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/* categories - dropdown - last item */
#dropdownCont .wn-l-item {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* news cards */
.news {
    margin-top: 70px;
}
/* cards */
.row {
    column-gap: 15px;
    margin-bottom: 50px;
}
.card {
    width: 50%;
    cursor: pointer;
}
.card-w {
    width: 100%;
}
/* image card */
.card-img {
    width: 100%;
    height: 20vh;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
}
/* card body */
.card-body {
    padding: 0 4px;
    font-size: 13.5pt;
    margin: 4px 0 6px 0;
}
/* card footer */
.card-footer {
    padding: 0 4px;
}
/* card category */
.card-footer-category {
    font-size: 9.5pt;
}
/* card date */
.card-footer-date {
    font-size: 8.5pt;
    font-style: italic;
}

/* ================= CONTAINER NEWS (news page) ================= */
.news-container {
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* news text and image */
.news-content {
    width: 70%;
}

/* header */
.news-header {
    margin-bottom: 25px;
}
.news-header-title {
    font-size: 24pt;
    margin-bottom: 2px;
}
.news-header-subtitle {
    font-size: 14pt;
    margin-bottom: 8px;
}
.news-header-signature {
    padding-right: 55px;
}
.news-header-name {
    font-size: 11pt;
}
.news-header-time {
    font-size: 9pt;
}

/* image */
.news-body-fig {
    width: 95%;
    margin-bottom: 35px;
    color: rgb(141, 141, 141);
}
.news-body-fig img {
    width: 100%;
    height: 45vh;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 2px;
    border-radius: 8px;
}
.news-body-fig figcaption {
    font-style: italic;
    font-size: 10.5pt;
    padding: 0 4px;
}

/* text */
.news-body-text {
    text-align: start;
    padding-right: 80px;
    line-height: 26px;
    color: var(--black);
}
.news-body-text h2 {
    font-size: 18pt;
    margin: 40px auto 20px auto;
}
.news-body-text p {
    font-size: 13pt;
    margin-bottom: 15px;
}

/* aside content */
.aside-content-title {
    font-size: 18pt;
    text-align: center;
}
.aside-cards {
    margin-top: 40px;
}
.aside-cards .card {
    margin-bottom: 50px;
}
.aside-cards .card-img {
    height: 24vh;
}

/* ================= LOGO AND REGISTER FORM (register) ================= */
.container-register {
    height: 100%;
    align-items: flex-end;
}

/* logo */
.logo-area {
    position: relative;
    width: 60%; height: 100%;
    background: var(--red);
}

.logo-set {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* title */
.logo-set-title {
    font-size: 20pt;
    line-height: 40px;
    color: whitesmoke;
    margin-top: 30px;
}

.logo-set a {
    color: #f38c79;
}

/* form */
.form-area {
    background: var(--yellow);
    position: relative;
    width: 40%; height: 100%;
}

.form-area form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.247);
    border-radius: 8px;
    padding: 20px 30px 0 30px;
    width: 50%;
}

/* register labels and fields */
.register-data {
    margin-bottom: 25px;
    column-gap: 15px;
}

.register-data label {
    display: inline-block;
    font-size: 13.5pt;
    font-weight: bold;
    margin-bottom: 8px;
}

.register-data input {
    width: 100%;
    font-size: 12pt;
    padding: 6px 0;
    text-indent: 6px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    transition: box-shadow .3s ease-out;
}
.register-data input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #E9DEB0;
    border: 1px solid #f1ce41;
    background: rgb(231, 243, 248);
}
.register-data input::placeholder {
    color: rgb(212, 212, 212);
}

/* sing up button */
.register-btn {
    display: block;
    background: var(--btnGreen);
    width: 70%;
    margin: 0 auto 15px auto;
    padding: 8px 0;
}
.register-btn:hover,
.register-btn:focus {
    outline: none;
    background: var(--btnGreenHolver);
}