:root {
    --dark: rgb(59, 59, 59);
    --dark2: rgb(46, 46, 46);
    --white: rgb(221, 221, 221);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-family: arial, sans-serif;
}

/* all links */
a {
    text-decoration: none;
}
/* flexible display */
.wb-d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* button */
.wb-button {
    padding: 6px 10px;
    font-size: 12pt;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s ease-out;
}